@import url("/css/bootstrap-icons.css");

.navbar {
    padding-top:0;
    padding-bottom:0;
}
img.logo{
    height:5rem;
    width:auto;
}

body {
    height:calc(100vh - 100px);
}

main {
    padding-top:1rem;
/*    background-color: var(--bs-light); */
    min-height:100%;
}

main#landing {
    display:grid;
    grid-template-rows:1fr auto;
}

#hero {
    background-color:var(--bs-gray-400);
    display:grid;
    flex-direction: column;
    align-items: center;
}
/*#hero {
    background: url("/img/flag-background.jpg");
    background-position: center;
    background-color:#fff;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
*/


.bi-check-circle-fill {
    color: var(--bs-success);
}


.gallery-grid {
    display: grid;
    gap:2rem;
}