:root {
    --color-blue: hsl(219, 86%, 35%);
}
/* ================
LAYOUT 
===============*/
.navbar {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid var(--bs-gray-200);
}
.navbar-toggler {
    border:0px;
    border-radius: 0px;
}

.nav-link.active {
    text-decoration: underline;
    text-underline-offset: .75rem;
}

img.logo {
    height: 80px;
    width: 123px;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    padding: 2em 0px;
}

#landing {
    padding-top: 0px;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #fff;
}

#hero {
    display: grid;
    align-items: center;
    min-height: 300px;
    background-color: var(--bs-gray-400);
}

footer {
    background-color: #fff;
    padding: 1em;
    border-top: 1px solid var(--bs-gray-400);
}

/* ================
SERVICES 
===============*/
#servicesList li {
    padding-left: 0;
    padding-right: 0;
    border: none;
}


.bi-check-circle-fill {
    color: var(--bs-success);
}


/* ================
GALLERY 
===============*/

.gallery-grid {
    display: grid;
    gap: 2rem;
    text-align: center;
}


/* ================
FAQ 
===============*/
.accordion-button {
    padding-left: 0;
}

label.required::after {
    margin-left: 4px;
    content: "*";
    color: var(--bs-danger);
}

/* ================
CONTACT
===============*/
#contactForm {
    padding: 1em;
    background-color: var(--bs-gray-400);
}

/* ================
BUTTONS
===============*/
.btn-primary {
    background-color: #0c42a4;
}